.class8{
    background-color: azure;
    margin: 10px 50px;
    padding: 10px 20px;
}

input[type=text]{
    width: 250px;
    height: 30px;
    margin-left: 20px ;
    border: 1px solid lightsteelblue;
}

.changeBackground{
    background-color: chocolate;
}