.header{
    height: 280px;
    margin: 40px 70px;
    display: flex;
    background-color: lightgray;
}

.class6{
    width: 420px;
margin-left: 50px;
    text-align: center;
}

h1{
    font-size: 40px;
}

img{
    height: 280px;
    width: 320px;
  background-color: black;
}