.container{
    display: flex;
    /* width: 100px; */
}
.video-container{
/* width: 100px;
    display: flex; */
}

.video-card{

    margin: 10px 10px;
    background-color: #f8f9f9;
}

.details{

    display: flex;
    margin: 10px 5px;
}

.video-data{
margin: 5px;
font-size: 14px;
}

i{
    font-size: 16px;
    margin: 10px;
    color: #ff5722;
}

.highlight{
    background-color: #ddd;
    border: #ff5722 3px solid;
    border-radius: 5px;
}