<div class="container">
  <h1>New Features in Smart Phones</h1>
  <div class="more-products">
    <app-product>
      <h4 class="title">Features in OnePlus</h4>
      <button class="btn btn-more">Show more in OnePlus</button>
    </app-product>
    <app-product>
      <h4 class="title">Features in Samsung</h4>
      <button class="btn btn-more">Show more in Samsung</button>
    </app-product>
    <app-product>
      <h4 class="title">Features in Realme</h4>
      <button class="btn btn-more">Show more in Realme</button>
    </app-product>
    <app-product>
      <h4 class="title">Features in POCO</h4>
      <button class="btn btn-more">Show more in POCO</button>
    </app-product>

  </div>
</div>