<!-- Going to use ngFor structural directive -->
<div *ngFor="let p of products">
    <div class="product-container" [ngStyle]="{backgroundColor: p.available === 'Available' ? 'lightgreen' : 'lightblue'}">
        <div class="image-container"><img src="" alt="not displaying"
                style="max-height: 50px; max-width: 50px; margin: 20px 0px;"></div>
        <div>
            <div class="name-container">
                <h3>{{ p.name }}</h3>
            </div>
            <div class="detailContainer">
                <div class="details" [ngStyle]="{color: p.available === 'Available' ? 'darkgreen' : 'red'}">{{
                    p.available }}</div>
                <div class="details"><b>Price : </b>{{ p.price }}</div>
                <div class="details"><b>Color : </b>{{ p.color }} </div>
            </div>
        </div>
        <div class="options">
            <button class="btn btn-success">Show Details </button>
            <button class="btn btn-warning" *ngIf="p.available === 'Available'; else notifyme">Buy Now</button>
            <ng-template #notifyme>
               <button class="btn btn-danger">Notify me</button> 
            </ng-template>
        </div>
    </div>
</div>